<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>JoMoku</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./anim.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.0/vue.min.js"></script>
  </head>
  <body style="-webkit-app-region: drag">
  <div id="gomoku">
    <div id="gomoku__loading" v-show="!ready">
      <div class="loading__title">JOMOKU</div>
      <div class="loading__subtitle">my sick af gomoku game</div>
      <div class="loading__wheel">
        <div id="load">
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
        </div>
      </div>
      <div class="loading__status">{{status}}</div>
    </div>
    <div id="gomoku__title">JOMOKU</div>
    <div id="board">
      <div class="block" v-for="(square, index) in squares" v-bind:class="{done: square.evaluated}" @click="activate(square)">
        <div class="block__label">{{square.value}}</div>
        <div class="piece" v-bind:class="{black: square.black, white: square.white}" v-show="square.active"></div>
        <div class="glowing" v-if="square.evaluating"></div>
      </div>
    </div>
    <div id="control__wrap">
      <div id="loading" v-show="thinking">
        <div id="load">
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
          <p></p><p></p><p></p><p></p><p></p><p></p>
        </div>
        <div id="load__text">THINKING...</div>
      </div>
      <button class="control__btn" v-on:click="clear()">CLEAR</button>
      <button class="control__btn">UNDO LAST MOVE</button>
    </div>
    </div>
  </body>
  <script src="./board.js"></script>
  <script src="./input.js"></script>
  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
