@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color: #1E8BC3;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
}
#board{
  height: 600px;
  width: 600px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 10px;
  -webkit-app-region: no-drag;
}
  .block{
    height: 40px;
    width: 40px;
    background: url('./grid.png') center center no-repeat;
    background-size: 100%;
    float: left;
    border-top: 0;
    border-left: 0;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
    .done{
      background: url('./grid-done.png') center center no-repeat;
      background-size: 100%;
    }
    .block:hover{
      background-color: rgba(0,0,0,0.1);
    }
      .block__label{
        font-family: Open Sans;
        font-size: 10px;
        color: rgba(0,0,0,0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
        line-height: 40px;
        z-index: -1;
        color: #FFF;
      }
    .piece {
      height: 30px;
      width: 30px;
      border-radius: 30px;
      margin: 5px;
      box-shadow: 0px 1px 3px #000;
    }
      .piece.black{
        background-color: #22313F;
      }
      .piece.white{
        background-color: #DDDDDD;
      }
  #control__wrap{
    width: 150px;
    position: absolute;
    top: 20px;
    right: 0px;
    height: 100%;
    text-align: center;
  }
    #load__text{
      text-align: center;
      font-size: 12px;
      font-family: Raleway;
      margin-top: 45px;
    }
    .control__btn{
      padding: 10px;
      border: 2px;
      background-color: #DDD;
      font-family: Raleway;
      font-size: 10px;
      margin-top: 10px;
      border-radius: 3px;
      box-shadow: 0px 1px 1px #444
  z-index: 100000;
  -webkit-app-region: no-drag;
    }
  #gomoku__title{
    width: 100%;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    margin-top: 15px;
    color: #FFF;
  }
























#gomoku__loading{
  height: 100%;
  width: 100%;
  background-color: #1E8BC3;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100000;
  pointer-events: none;
}
  .loading__title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 400;
    color: #EEE;
    width: 100%;
    margin-top: 200px;
    text-align: center;
  }
  .loading__subtitle{
    font-family: Raleway;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    color: #DDD;
  }

.loading__wheel{
  width: 100%;
  margin-top: 30px;
}

  .loading__status{
    font-family: Courier;
    font-size: 12px;
    font-weight: 300;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }




.glowing{
  height: 5px;
  width: 5px;
  border-radius: 10px;
  margin: 17.5px;
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}




@keyframes pulse {
  0% {
    background-color: #D91E18;
  }
  50% {
    background-color: #F89406;
  }
  100% {
    background-color: #D91E18;
  }
}





















